@charset "utf-8";

/*Nesta parte aqui temos o reset de pagina*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    /* background-color: #ece1c3; */
    margin: 0;
    padding: 0;
    border: 0;
    background-image: linear-gradient(#845ec2, #c4fcef)
}

header {
    background-color: #195e63;
    height: 190px;
}

h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
}

nav {
    background-color: yellowgreen;
    height: 30px;
    text-align: center;

}

main {
    background-color: red;
    height: auto;
    display: flex;
}

p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    size: 14px;
}

img {
    width: 150px;
    height: 120px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}


footer {
    
    text-align: center;
    background-color: blue;
    height: 175px;
}

.imgmain{
    width: 150px;
}

.txtmain{
    background-color: aqua;
}