@charset "utf-8";

/* Criando um mobile-first
https://paletadecores.com/paleta/21203f/fff1ce/e7bfa5/c5a898/4b3c5d/
https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp
    device breakpoints
     mobile 600 px 
     tablet 768 px
     desktop 992 px
     smart_tv 1200 px

*/

* {
    margin: 0;
    padding: 0;
    /* calcular a borda em relação ao tamanho.*/
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

/* Definir o tamanho da tela sempre forçando o não extender a tela */
html {
    height: 100vh;
}

/* Definição  do tamanho da tela */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #21203f, #e7bfa5);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;

}

header {
    background-color: #21203f;
    margin-top: 3px;
    border-radius: 7px 7px 0px 0px;
    width: 90vw;
    margin: auto;
}

header>h1 {
    text-align: center;
    color: whitesmoke;
    padding: 3px;
    text-shadow: #c5a898 1px 1px 10px;
    margin-top: 17px;

}

#burger {
    background-color: #21203f;
    display: block;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    padding: 7px;
    width: 90vw;
    cursor: pointer;
}

#burger:hover {
    background-color: #c5a898;
}

menu {
    color: whitesmoke;
    text-align: center;
    list-style-type: none;
    width: 90vw;
    margin: auto;
}

menu>ul {
    list-style-type: none;
}

menu>ul>li>a {
    display: block;
    padding: 7px;
    text-decoration: none;
    text-align: center;
    background-color: #21203f;
    border-radius: 0px 0px 0px 0px;
    color: whitesmoke;
    margin: auto;

}

menu>ul>li>a:hover {
    background-color: #c5a898;
    color: whitesmoke;
    text-decoration: none;
}


main {
    background-color: #c5a898;
    width: 90vw;
    margin: auto;
    border-radius: 7px 7px 0px 0px;
    margin-top: 7px;
    padding: 3px;

}

article>h2 {
    padding-bottom: 17px;

}

article>p {
    text-align: justify;
    margin-bottom: 17px;
    text-indent: 17px;

}

footer {
    background-color: #c5a898;
    text-align: center;
    border-radius: 0px 0px 7px 7px;
    width: 90vw;
    padding: 7px;
    margin: auto;
}


/* configuração e definição de imagens para mobile-first */
img {
    display: block;
    margin: auto;
}

img#mobile {
    display: block;
}

img#tablet {
    display: none;
}

img#print {
    display: none;
}

img#pc {
    display: none;
}

img#tv {
    display: none;
}



/* media para tablet com  largura de tela menor que 768px para o maior de 992px
onde sera modificado as medidas do menu, menu lista, main > article onde o menu
deve estar bloqueado seguindo as margens e cor de fundo dos elementos e 
deixando assim o menu burger oculto, forçando assim o menu aparecendo inline-block
(na horizontal) e sua exibição de imagens */

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(assents/back-tablet.jpg);

    }

    #burger {
        display: none;
    }


    menu {
        display: block;
        width: 90vw;
        margin: auto;
        background-color: #21203f;
    }

    menu>ul>li {
        display: inline-block;
        background-color: #21203f;

    }

    main {
        width: 90vw;
        margin: auto;
    }

    article>h2 {
        padding-bottom: 17px;
        width: 90vw;
        margin: auto;
    }

    article>p {
        text-align: justify;
        margin-bottom: 17px;
        text-indent: 17px;
    }

    footer {
        width: 90vw;
        margin: auto;
    }

    img#mobile {
        display: none;
    }

    img#tablet {
        display: block;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}


/* media para pc com  largura de tela menor que 992px para o maior de 1200px
onde sera modificado as medidas do menu, menu lista, main > article onde o menu
deve estar bloqueado seguindo as margens e cor de fundo dos elementos e 
deixando assim o menu burger oculto, forçando assim o menu aparecendo inline-block
(na horizontal) e sua exibição de imagens */

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        background-image: url(assents/back-pc.jpg);
    }

    #burger {
        display: none;
    }

    menu {
        display: block;
        background-color: #21203f;
    }

    menu>ul>li {
        display: inline-block;
        background-color: #21203f;
    }

    main {
        width: 90vw;
        margin: auto;
    }

    article>h2 {
        padding-bottom: 17px;
    }

    article>p {
        text-align: justify;
        margin-bottom: 17px;
        text-indent: 17px;
    }

    footer {
        width: 90vw;
        margin: auto;
    }

    img#mobile {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }
}

/* media para smart_tv com  largura de tela menor que 992px para o maior de 1200px
onde sera modificado as medidas do menu, menu lista, main > article onde o menu
deve estar bloqueado seguindo as margens e cor de fundo dos elementos e 
deixando assim o menu burger oculto, forçando assim o menu aparecendo inline-block
(na horizontal) e sua exibição de imagens */

@media screen and (min-width: 1201px) {
    body {
        background-image: url(assents/back-tv.jpg);
        background-repeat: repeat-x;
        background-attachment: fixed;
    }

    #burger {
        display: none;
    }

    menu {
        display: block;
        background-color: #21203f;
    }

    menu>ul>li {
        display: inline-block;
        background-color: #21203f;
    }

    main {
        width: 90vw;
        margin: auto;
    }

    article>h2 {
        padding-bottom: 17px;
    }

    article>p {
        text-align: justify;
        margin-bottom: 17px;
        text-indent: 17px;
    }

    footer {
        width: 90vw;
        margin: auto;
    }

    img#mobile {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }
}